@using enthusiastic.Models;
@model IEnumerable<enthusiastic.Models.Post>;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@await Html.PartialAsync("~/Views/Posts/Create.cshtml", new Post())

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="media border p-3">
    <table class="w-100">
        <tr>
            <td style="width:10%"> <img src="images/img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;"></td>
            <td>
                <h5>@Html.DisplayFor(modelItem => item.Autor)</h5>              
            </td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.Title)</h5>
            </td>
        </tr>
        <tr>
            <td style="width:10%">
            <td>
                <p> @Html.DisplayFor(modelItem => item.Content)</p>
            </td>
         </tr>
    </table>  
    </div>

}
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
